body {
    display: flex;
    justify-content: center;
    background-color: #E3DFFF;
}

.container {
    width: 50%;
    height: 60%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 5px;
    /* border: solid 2px black; */
    
}
#locationSearch {
    grid-column: 1 / 2;
}
#currentWeatherBtn {
    grid-column: 3 / 4;
    max-width: 150px;

}
#displayData {
    grid-column: 2 / 3;
}
.displayInfo {
    display: flex;
}

ul {
    list-style: none;
    padding: 3px;
    display: flex;
    flex-direction: column;
    border: solid 2px #4F6367;
    border-radius: 5px;
    
}
li{
    margin: 5px;
}
.condition {
    display: flex;
}
#forecast {
    display: flex;
    justify-content: space-between;
}